.cont{
    display:flex;
    padding: 36px 133px 64px 287px;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    position: relative;
}

.desc{
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.vision{
    color: #000;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
}