.contactimg{
    width: 74px;
height: 74px;
aspect-ratio: 1/1;
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}

.contactname{
    color: #0F2431;
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
}