.constdesc{
    color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.constname{
    color: #0F2431;
font-family: Inter;
font-size: 44px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 5px 0;
}